<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo" width="40" height="40" class="d-inline-block align-text-top"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/offers">Oferty</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Projekty
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://github.com/Edward-Developers">Boty Discord</a></li>
                        <li><a class="dropdown-item" href="/cv">CV</a></li>
                        <li><a class="dropdown-item" href="https://github.com/Patryk360/The_Dark_Side">Gra na Unity</a></li>
                        <li><a class="dropdown-item" href="https://github.com/Patryk360/micropython_projects">Projekty RPI i ESP32</a></li>
                        <li><a class="dropdown-item disabled" href="/words">Nauka Słówek</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>