.info {
    background-color: #1196de;
}
.navbar {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 14pt;
    min-height: 80px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(17, 150, 222) 100%);
}
.br-gradient {
    min-height: 80px;
    background: rgb(17, 150, 222);
    background: linear-gradient(0deg, rgb(17, 150, 222) 0%, rgba(255,255,255,1) 100%);
}