<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/images/logo.png">
        <title>Strona Główna</title>
    </head>
    <body>
        <%- include('partials/navbar.html', { }); %>
        <div class="info">
            <div class="container text-center">
                <h1 class="motto pt-5 pb-5">Dreams stay dreams... unless you make them real.</h1>
                <div class="row align-items-start">
                    <div class="col-xxl-3 col-sm-6 p-3">
                        <div class="card">
                            <img src="/images/instagram.png" class="card-img-top img-fluid rounded-circle" alt="logo instagram">
                            <div class="card-body">
                                <h5 class="card-title">Instagram</h5>
                                <p class="card-text">Tutaj znajdziesz moje zdjęcia i informacje osobiste o mnie</p>
                                <a href="https://www.instagram.com/patrykp360" class="btn btn-primary">Zobacz Instagram</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-sm-6 p-3">
                        <div class="card">
                            <img src="/images/github.png" class="card-img-top img-fluid rounded-circle" alt="logo github">
                            <div class="card-body">
                                <h5 class="card-title">GitHub</h5>
                                <p class="card-text">Zbiór moich wszystkich repozytoriów z projektami.</p>
                                <a href="https://github.com/Patryk360" class="btn btn-primary">Zobacz GitHub'a</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-sm-6 p-3">
                        <div class="card">
                            <img src="/images/discord.png" class="card-img-top img-fluid rounded-circle" alt="logo discord">
                            <div class="card-body">
                                <h5 class="card-title">Discord</h5>
                                <p class="card-text">Tutaj znajdziesz pomoc przy swoich projektach</p>
                                <a href="https://discord.gg/DMwSq8khwt" class="btn btn-primary">Zobacz serwer Discord</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-sm-6 p-3">
                        <div class="card">
                            <img src="/images/youtube.png" class="card-img-top img-fluid rounded-circle" alt="logo youtube">
                            <div class="card-body">
                                <h5 class="card-title">YouTube</h5>
                                <p class="card-text">Tutaj znajdziesz poradniki z programowania</p>
                                <a href="https://www.youtube.com/@Deveerse" class="btn btn-primary">Zobacz kanał YouTube</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#000000" fill-opacity="1" d="M0,32L48,58.7C96,85,192,139,288,138.7C384,139,480,85,576,80C672,75,768,117,864,112C960,107,1056,53,1152,53.3C1248,53,1344,107,1392,133.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>

        <div class="description">
            <div class="container text-center">
                <div class="row align-items-start g-3">
                    <div class="col-xxl-4 col-sm-6">
                        <div class="about-me">
                            <h1 class="pt-5 pb-5">O mnie</h1>
                            <p class="lead">
                                Cześć, mam na imię Patryk i od 2019 roku zajmuję się programowaniem. W tym czasie nauczyłem się programować w takich językach jak Node.js, Java, GoLang, Python czy C#. Lubię tworzyć, dlatego programowanie to dla mnie pasja. Każdy nowy projekt to dla mnie okazja, żeby się rozwijać i podejmować nowe wyzwania.
                            </p>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-sm-6">
                        <div class="about-me">
                            <h1 class="pt-5 pb-5">Projekty</h1>
                            <p class="lead">
                                Stworzyłem bota na Discorda w Node.js oraz inną wersję w GoLang. Zaprogramowałem również wersję na Guilded, a potem zacząłem tworzyć grę w Unity, którą nadal rozwijam. Mam też doświadczenie w MicroPythonie – stworzyłem zdalnie sterowaną łódź i obecnie pracuję nad dronem. Lubię projektować strony i pisać je w HTML, a poza tym zajmuję się również grafiką.
                            </p>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-sm-6">
                        <div class="about-me">
                            <h1 class="pt-5 pb-5">Kontakt</h1>
                            <p class="lead">
                                Jeśli chcesz się ze mną skontaktować, możesz znaleźć mnie na Discordzie (<a href="https://discord.com/users/nexi360" class="contact">nexi360</a>), Instagramie (<a href="https://www.instagram.com/patrykp360" class="contact">patrykp360</a>) oraz na X (<a href="https://x.com/nexi420" class="contact">nexi420</a>). Zawsze chętnie odpowiadam każdemu na wiadomości!
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container text-center mt-5">
                <div class="row align-items-start">
                    <div class="col-xxl-4 col-sm-6">
                        <div id="carousel1" class="carousel slide">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carousel1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/images/stars.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <p>test</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="/images/stars.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <p>test</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="/images/stars.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <p>test</p>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-sm-6">
                        <div id="carousel2" class="carousel slide">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/images/trojkaty.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <p>test</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="/images/trojkaty.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <p>test</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="/images/trojkaty.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <p>test</p>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-sm-6">
                        <div id="carousel3" class="carousel slide">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carousel3" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/images/trojkaty.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <p>test</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="/images/trojkaty.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <p>test</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="/images/trojkaty.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <p>test</p>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#000000" fill-opacity="1" d="M0,32L48,58.7C96,85,192,139,288,138.7C384,139,480,85,576,80C672,75,768,117,864,112C960,107,1056,53,1152,53.3C1248,53,1344,107,1392,133.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
        <%- include('partials/footer.html', { }); %>

        <script>
            (function(){if(!window.chatbase||window.chatbase("getState")!=="initialized"){window.chatbase=(...arguments)=>{if(!window.chatbase.q){window.chatbase.q=[]}window.chatbase.q.push(arguments)};window.chatbase=new Proxy(window.chatbase,{get(target,prop){if(prop==="q"){return target.q}return(...args)=>target(prop,...args)}})}const onLoad=function(){const script=document.createElement("script");script.src="https://www.chatbase.co/embed.min.js";script.id="yuJDTPOI1MgI8xhCIpPLB";script.domain="www.chatbase.co";document.body.appendChild(script)};if(document.readyState==="complete"){onLoad()}else{window.addEventListener("load",onLoad)}})();
        </script>

        <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/jquery/jquery-3.6.0.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>