body {
    background: #ef7f1a;
}

.info {
    background-color: #000000;
    color: #ffffff;
}

.navbar {
    font-weight: bold;
    background: #ffffff;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #ef7f1a;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e48a3b;
}