body {
    background: #ef7f1a;
}

a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    color: #474545;
}

.info {
    background-color: #000000;
    color: #ffffff;
}

.navbar {
    font-weight: bold;
    background: #ffffff;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #ef7f1a;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e48a3b;
}

.pacifico {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contact {
    color: #1e2692;
}