<div class="bg-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-3 col-sm-1 mt-5 mb-5">
                <div class="card">
                    <div class="card-body">
                        <a href="https://github.com/Edward-Developers/EdwardBot_Guilded"><h5 class="card-title">EdwardBot Guilded</h5></a>
                        <p class="card-text">Edward bot dla aplikacji Guilded</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-sm-1 mt-5 mb-5">
                <div class="card">
                    <div class="card-body">
                        <a href="https://github.com/Edward-Developers/EdwardBot_LITE"><h5 class="card-title">EdwardBot LITE</h5></a>
                        <p class="card-text">Edward bot w golang</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-sm-1 mt-5 mb-5">
                <div class="card">
                    <div class="card-body">
                        <a href="https://github.com/Patryk360/micropython_projects"><h5 class="card-title">Projekty micropython</h5></a>
                        <p class="card-text">Kody dla ESP32 i RPI</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>